Successfully created new score:
<p>
<b>Form:</b> <%= score.form %>
</p>

<p>
<b>LL:</b> <%= score.ll %>
</p>

<p>
<b>Checkride:</b> <%= score.check %>
</p>


<p>
<b>CS:</b> <%= score.cs %>
</p>

<p>
<b>Date: </b> <%= score.date %>
</p>
